@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gantt */
._3lLk3 {
  font-size: 1.1em;
  background-color: #d9d9d9;
}

._3lLk3[title^='🌙'],
._3lLk3[title^='🌙'] ~ *,
._3lLk3[title^='🌅'],
._3lLk3[title^='🌅'] ~ *,
._3lLk3[title^='☀'],
._3lLk3[title^='☀'] ~ * {
  font-size: 1em;
  font-weight: normal;
  background-color: unset;
  color: unset;
}

._3lLk3[title^='🌙'] > div > div,
._3lLk3[title^='🌅'] > div > div,
._3lLk3[title^='☀'] > div > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 0.5rem;
}
.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: transparent;
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 0.25rem;
}
